alias.xsd=http\://www.w3.org/2001/XMLSchema\#
alias.place=http\://example.org/place/
alias.star=http\://www.staralliance.com/
alias.travel=http\://www.w3.org/2000/10/swap/pim/travelTerms\#
alias.cyc=http\://opencyc.sourceforge.net/daml/cyc.daml\#
alias.rdf=http\://www.w3.org/1999/02/22-rdf-syntax-ns\#
alias.airport=http\://www.daml.org/2001/10/html/airport-ont\#
alias.dc=http\://purl.org/dc/terms/
alias.flight=http\://jibbering.com/2002/8/flight/\#
alias.prop=http\://example.org/prop/
alias.person=http\://example.org/person/
alias.tucana=http\://tucana.org/tucana\#
